<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.pretto.ea2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EA2 Francisco Pretto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service android:name=".servicios.SessionService"/>

        <activity android:name=".activities.ContadorProximidad" />
        <activity android:name=".activities.CirculoAcelerometro" />
        <activity android:name=".activities.SinInternet" />
        <activity android:name=".activities.Menu" />
        <activity android:name=".activities.Register" />
        <activity android:name=".activities.LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>